
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">

</head>
<body>
    <div id="app">
        <i-button @@click="show">Click me!</i-button>
        <Modal v-model="visible" title="Welcome">欢迎使用 iView</Modal>
    </div>
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <script>
        new Vue( {
            el: '#app',
            data: {
                visible: false
            },
            methods: {
                show: function ()
                {
                    this.visible = true;
                }
            }
        })
    </script>
</body>
</html>
@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
    <div id="app">
        <Tabs value="name1">
            <Tab-pane label="我是" name="name1">你好</Tab-pane>
            <Tab-pane label="博主" name="name2">我是</Tab-pane>
            <Tab-pane label="秋意正寒" name="name3">秋意正寒</Tab-pane>
        </Tabs>
    </div>
    <script>
        new Vue( {
            el: '#app',
        })
    </script>
</body>
</html>*@
